<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>迪拓</h2>
        </header>
        <p><strong>迪拓能源</strong>是注册成立于清华科技园的国家高新技术企业
            <br/>专注于智慧能源技术开发应用，
            <br/>聚焦于能源信息化智能化技术开发应用、数据分析应用及业务咨询服务。
        <br />
      

        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>